На портал в #{l @user.created_at} поступила заявка на регистрацию.

Регистрационные данные:

#{@user.full_name}

#{@user.email}

Вы можете разрешить доступ на портал указанному заявителю, перейдя по ссылке: <noindex>#{link_to @user_url, @user_url, target: :_blank}</noindex>

Или оставить письмо без движения.
